* {
  text-align: center;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  min-width: 600px;
}

/* Navbar media Queries */
/* Issue solved: added media queries so the carousel and navbar cannot be smashed
  into an unreadable block of text at small or narrow screen sizes */

/* 767px is breakpoint for navbar collapse to sandwich button */
/* iPhone and mobile sized screens - 568px iPhone 5, 627px iPhone 6, and 6 Plus - 736px */
@media only screen and (max-width: 766px) {
  .carousel, .carousel-caption{ display:none; }
  #will-teach-header{ padding-top: 80px; }
  a.navbar-brand{ font-size: 22px; }
  .nav > li > a{ font-size: 16px; }
  .faq-container { font-size: 10px; }
  #faq-header { font-size: 30px  !important; }
}

/* iPad size screen - 768px */
@media only screen and (max-width: 785px) and (min-width: 767px) {
  .carousel, .carousel-caption{ display:none; }
  #will-teach-header{ padding-top: 80px; }
  a.navbar-brand{ font-size: 22px; }
  .nav > li > a{ padding-right: 5px !important; padding-left: 2px !important; font-size: 17px !important; }
}

@media only screen and (max-width: 907px) and (min-width: 786px) {
  .carousel, .carousel-caption{ display:none; }
  #will-teach-header{ padding-top: 80px; }
  a.navbar-brand{ font-size: 24px; }
  .nav > li > a{ padding-right: 5px !important; padding-left: 2px !important; font-size: 18px !important; }
}

@media only screen and (max-width: 960px) and (min-width: 908px) {
  a.navbar-brand{ font-size: 26px; }
  .nav > li > a{ font-size: 14px; }
}

@media only screen and (max-width: 1070px) and (min-width: 959px) {
  a.navbar-brand{ font-size: 26px; }
  .nav > li > a{ font-size: 18px; }
}

@media only screen and (max-width: 1335px) and (min-width: 1071px) {
  a.navbar-brand{ font-size: 30px; }
  .nav > li > a{ font-size: 22px !important; padding-left: 55px !important; padding-right: 55px !important;}
}

@media only screen and (max-width: 1535px) and (min-width: 1336px) {
  a.navbar-brand{ font-size: 45px; }
  .nav > li > a{ padding-right: 60px !important; padding-left: 60px !important; font-size: 22px !important; }
}

@media only screen and (max-width: 2069px) and (min-width: 1536px) {
  a.navbar-brand{ font-size: 45px; }
  .nav > li > a{ padding-right: 90px !important; padding-left: 90px !important; font-size: 22px !important; }
  #register-modal-button{ margin-left: 40px;}
}

@media only screen and (max-width: 3000px) and (min-width: 2070px) {
  a.navbar-brand{ font-size: 45px; }
  .nav > li > a{ padding-right: 140px !important; padding-left: 140px !important; font-size: 22px !important; }
  #register-modal-button{ margin-left: 80px;}
}
/* end Navbar resizing media queries */



/* Carousel styling */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  overflow: hidden;
}

.carousel-indicators /* working on moving these to the right, instead of center */ {
  position: absolute;
  display: inline-block;
  bottom: -10px;
  z-index: 4;
  display: none;  /* removed indicators because it was drawing too much attn - Uncanny Valley effect */
}

.carousel-caption {
  overflow: auto; /* overflows goes into verticle scrollbar only if needed since hidden in parent */
  background-color: rgba(250, 244, 239, 0.4);
  z-index: 3;
  max-height: 200px;
  padding: 0;
  color: #F5F5F5;
  text-shadow: 3px 2px #190D0D, 1px 0px 1px #190D0D, 0px 1px 1px #190D0D, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,;
}

.carousel .item {
  height: 500px;
  min-width: 1263px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 100%;
  max-height: 100%;
}

#header {
  font-family: 'Audiowide', Serif;
}

#will-teach-header {
  font-size: 50px;
  text-shadow: 3px 2px #190D0D, 1px 0px 1px #190D0D, 0px 1px 1px #190D0D, 
    2px 1px 1px #ccc, 1px 2px 1px #eee;
}

.footer-padding {
  padding-bottom: 120px;
}

#footer-top-link {
  padding-right: 100px;
}

#footer-left {
  padding-left: 60px;
}

/*  end Carousel CSS  */

h1 {
  font-family: 'Audiowide', Serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 5px;
}

h2 {
  font-family: 'Alike', sans-Serif;
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 3px;
}

h3 {
  font-family: 'Alike', sans-Serif;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 3px;
}

h4 {
  font-family: 'Alike', sans-Serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 3px;
}

h5 {
  font-family: 'Alike', Sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
}

p {
  font-family: 'Alike', Sans-serif;
  font-size: 22px;
}

#lighter-font {
  font-family: 'Alike', Sans-serif;
  color: #F80000;
}

#caption-header {
  font-family: 'Audiowide', Serif;
}

.teach {
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
}

/* about.html styling */
.featurette-divider {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.companies {
  padding-top: 10px;
  padding-bottom: 30px;
}

#header-image {
  max-height: 400px;
  width: 80%;
  padding: 10px;
}
/* end about.html CSS */


/* 404 error page css */
#error-page {
  background-color: #daecee;
  width: 100%;
  height: auto;
}

/* end error page */

/* FAQ.html page CSS */

.faq-container {
  padding-top: 120px;
  padding-bottom: 50px;
  margin-left: -15px;
  font-size: 18px;
  font-family: 'Alike';
  text-align: left;
}

.panel-title {
  color: #141414;
  font-size: 20px;
  font-family: 'Audiowide';
  padding-top: 3px;
  padding-bottom: 3px;
}

#faq-header {
  font-size: 46px;
  padding-top: 15px;
}

/* end FAQ CSS */

.form-alignment-table > li {
  list-style: none  !important;
}


/* more modal-specific styles */

textarea#message {
  width: 90%;
  max-width: 95%;
  left: 5%; /* (100%-width)/2 */
  /* place center */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left; 
}

input#required.text-center {
  font-size: 22px;
}

form {
  width: 80%;
  margin: 0 auto;
}

label, input {
  display: inline-block;
}

label {
  width: 30%;
  /* positions the label text beside the input */
  text-align: right;
}

label + input {
  width: 60%;
  margin: 0 5% 0 3%;
}

input + input {
  float: right;
}

.remove-alignment {
  text-align: center !important;
}
/* END modal styles */


/* Navbar styling */

.navbar-wrapper /* used for positioning */ {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  font-family: 'Audiowide', Serif;
  font-size: 25px;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 600px;
  max-height: 60px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  width: 100%;
}

.navbar-brand {
  height: 60px;
  font-family: 'Audiowide', Serif;
  font-size: 35px;
  letter-spacing: 5px;
  margin-right: auto;
  margin-left: 0;
}

#mini-logo {
  max-height: auto;
  max-width: 60px;
}

.navbar-header {
  max-height: 60px  !important;
  overflow: hidden;
}

.navbar-nav>.active>a {
  background-color: transparent !important;
}

.navbar-wrapper > .navbar {
  margin-right: 0;
  margin-left: 0;
  text-align: right;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand {
  display: inline-block;
  margin: 0;
  font-family: 'Audiowide', Serif;
  font-weight: 100;
  letter-spacing: 5px;
  color: #980909;
  text-align: center;
} 

#register-modal-button {
  margin-top: 5px;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 22px;
  border-color: #e3e3e3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-width: 2px; 
}

#subscribe-modal-button {
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 105px;
  padding-right: 105px;
  font-size: 22px;
  border-color: #e3e3e3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-width: 3px; 
}

#question-modal-button {
  margin-top: 8px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  border-color: #e3e3e3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-width: 3px; 
}

.header-logo {
  position: static;
  float: left;
  padding-top: 10px;
  width: 180px;
  height: 175px;
  display: block;
  z-index: 1;
  text-align: right;
}

.nav-link:link, .nav-link:visited, .footer-links:link, .footer-links:visited {
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 2px;
  font-family: 'Audiowide', Serif;
  font-weight: 300;
  color: #077A07;
  float: right;
}

a:link, a:visited {
  text-decoration: none;
}

.dropdown-header {
  background-color: #e3e3e3;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

#faq-dropdown {
  font-size: 16px;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 6px;
  margin-right: 14px;
  margin-left: 14px;
  margin-top: 10px;
  border-color: #e3e3e3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-width: 3px; 
}

#sponsors {
  font-size: 16px;
  padding: 5px;
  margin-right: 14px;
  margin-left: 14px;
  margin-top: 5px;
  border-color: #e3e3e3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-width: 3px; 
}

.dropdown-menu .divider {
  background-color: rgba(32, 32, 32, 0.4);
  height: 2px;
  margin-top: 9px;
  overflow: hidden;
}

ul.dropdown-menu {
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
  border-color: #e3e3e3;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-style: solid;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-width: 3px; 
}

/* button animations */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  transition-duration: 1s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  transform: scale(1.4);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus, .navbar-nav>.open>a {
  background-color: transparent !important;
}

  50% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(0.95);
  }
}

@keyframes hvr-push {
  50% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(0.95);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  animation-name: hvr-push;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #383838;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-bounce-to-left {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  border-radius: inherit;
  box-shadow: inherit;
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}
.hvr-bounce-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: #2098d1;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
  color: white;
}
.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* END Navbar Styling */