* {
  text-align: center;
}

#header {
  font-family: 'Audiowide', Serif;
}

#logo {
  display: inline-block;
  margin: 0;
  font-family: 'Audiowide', Serif;
  font-weight: 100;
  letter-spacing: 5px;
  color: #980909;
  text-align: center;
} 

#reg-btn {
  background-color: #00C700;
  color: #333;
  font-family: 'Audiowide', Sans-serif;
  font-size: 18px;
}

.header-logo {
  position: static;
  float: left;
  padding-top: 10px;
  width: 180px;
  height: 175px;
  display: block;
  z-index: -2;
  text-align: right;
}

.nav-link:link, .nav-link:visited, .footer-links:link, .footer-links:visited {
  margin-left: 30px;
  letter-spacing: 2px;
  font-family: 'Audiowide', Serif;
  font-weight: 300;
  color: #077A07;
  float: right;
}

a:link, a:visited {
  text-decoration: none;
}

/* white background is better, but this img does look ok and can be used for something else
#headerBackground {
  background-image: url('images/background-black-ninja-wide.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: 600px;
  margin-bottom: 0;
}
*/

/*  End Header  */

h1 {
  font-family: 'Audiowide', Serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 5px;
}

h2 {
  font-family: 'Alike', sans-Serif;
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 3px;
}

h3 {
  font-family: 'Alike', sans-Serif;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 3px;
}

h4 {
  font-family: 'Alike', sans-Serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 3px;
}

h5 {
  font-family: 'Alike', Sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
}

p {
  font-family: 'Alike', Sans-serif;
  font-size: 22px;
}

/* Carousel styling */

#carousel-row {
  display: block;
  background: black;
  max-width: 100%;
  margin-left: 100px;
  margin-right: 100px;
}

.carousel-inner {
  display: block;
  max-width: 100%;
  background: black;
}

#carousel-of-ninjas {
  margin-left: 100px;
  margin-right: 100px;
  max-height: 900px;
}

.carousel-caption {
  display:inline-block;
  text-align: center;
  max-width: 600px;
  background-color: rgba(250, 244, 239, 0.5);
  font-family: 'Alike', Sans-serif;
  color: red;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 0;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2%;
  background-color: white;
  color: white;
  padding-left: 20px;
}

#lighter-font {
  font-family: 'Alike', Sans-serif;
  color: #F80000;
}

#caption-header {
  font-family: 'Audiowide', Serif;
}