* {
  text-align: center;
}

#header {
  font-family: 'Audiowide', Sans-serif;
}

#main-logo {
  max-width: 80px;
  max-height: 100px;
}

.nav-link:link, .nav-link:visited, .footer-links:link, .footer-links:visited {
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 2px;
  font-family: 'Audiowide', Serif;
  font-weight: 200;
  color: #077A07;
}

a:link, a:visited {
  text-decoration: none;
}

#headerBackground {
  background-image: url('images/background-black-ninja.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-bottom: 0;
}

#logo {
  font-family: 'Audiowide', Serif;
  font-weight: 100;
  letter-spacing: 5px;
  color: #980909;
} 

#reg-btn {
  background-color: #00C700;
  color: #333;
  font-family: 'Audiowide', Sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Audiowide', Serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 5px;
}

h2 {
  font-family: 'Alike', sans-Serif;
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 3px;
}

h3 {
  font-family: 'Alike', sans-Serif;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 3px;
}

h4 {
  font-family: 'Alike', sans-Serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 3px;
}

h5 {
  font-family: 'Alike', sans-Serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
}

p {
  font-family: 'Alike', Sans-serif;
  font-size: 22px;
}

.carousel-inner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background: #190D0D;
}

#carousel-of-ninjas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: black;
}

#carousel-row {
  width: 100%;
}

.carousel-center {
  display: block;
  margin: 0 auto;
  background: black;
}